body {
  font-family: Roboto, Raleway, sans-serif;
  background: #ffffff;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}

.header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffe4c4;
}
.header-item-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-link-one {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link-two {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-text {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-links-contacts .header-mail:hover,
.header-links-contacts .header-mail:focus {
  color: #ff00ff;
}
.header-links-contacts .header-phon:hover,
.header-links-contacts .header-phon:focus {
  color: #800080;
}

.header-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-phon {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.main-btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main-button {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.main-button:hover {
  color: #ffff00;
}
.main-btn-text-one {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-button-one {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.main-button-one:hover {
  color: #ffff00;
}
.main-btn-text-two {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-button-two {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.main-button-two:hover {
  color: #ffff00;
}

.main-btn-text-three {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-button-three {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.main-button-three:hover {
  color: #ffff00;
}
.main-btn-text-four {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.main-button-four {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.main-button-four:hover {
  color: #ffff00;
}

.container-item-bg-one {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.main-nav-img-one {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
  background: url(.jpg);
}

.main-title-nav-one {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.main-text-nav-one {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.container-item-bg-two {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-two {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 262px;
  background: url(.jpg);
}

.main-title-nav-two {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-two {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-item-bg-three {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-three {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 262px;
  background: url(.jpg);
}

.main-title-nav-three {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.main-text-nav-three {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-item-bg-four {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-four {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 696px;
  background: url(.jpg);
}
.main-title-nav-four {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-four {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-item-bg-five {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-five {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 696px;
  background: url(.jpg);
}
.main-title-nav-five {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-five {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.container-item-bg-six {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-six {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 696px;
  background: url(.jpg);
}
.main-title-nav-six {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-six {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.container-item-bg-seven {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-seven {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1130px;
  background: url(.jpg);
}
.main-title-nav-seven {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-seven {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-item-bg-eight {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-eight {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1130px;
  background: url(.jpg);
}
.main-title-nav-eight {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-eight {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-item-bg-nine {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.main-nav-img-nine {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
  background: url(.jpg);
}
.main-title-nav-nine {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main-text-nav-nine {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #484848;
}

.footer-item-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-meil {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
