:root {
  --feature-title-color: #212121;
  --feature-text-color: #757575;
  --container-item-bg-color: #ffffff;
  --button-color: #2196f3;
  --section-bg-color: #2f303a;
  --main-color: #f5f4fa;
  --body-color: #e5e5e5;
  --solid-color:#EEEEEE;
 
}


p, li, h1, h2, h3, h4, h5,h6 {
margin: 0;
  
}
ul {
margin: 0;
padding: 0;
}



.container {
margin: 0 auto;
width: 1200px;
padding: 0 15px;
}

.body {
font-family: Roboto, sans-serif;
background: var(--container-item-bg-color);
}
.img {
  list-style: none;
}


.list {
list-style: none;
margin: 0;
padding: 0;
}


.link {
text-decoration: none;
}



.section {
padding-top: 94px;
padding-bottom: 94px;
}

.header-link {
background: var(--container-item-bg-color);
border-bottom: 1px Solid
#ECECEC;

}

.container-main {
  margin-top: 94px;
 
}



.logo-studio {
color: var(--feature-title-color);
}

.logo-studio-link {
color: var(--container-item-bg-color);
}

.logo {
text-decoration: none;
color: var(--button-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}
.navigation-list {
display: flex;
align-items: center;
margin: 0;
margin-left: 93px;


  
}
.header-container {
display: flex;
align-items: center;

  
}
.header-contacts {
margin-left: auto;
display: flex;


}

.navigation-item:not(:last-child){
margin-right: 50px;
}

.navigation-link {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px; 
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--feature-title-color);
}

a.navigation-link:hover {
color: var(--button-color);
}
a.navigation-link:focus {
color: var(--button-color);
}


.contact-item:not(:last-child){
margin-right: 50px;
}


.contact-link {

text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--feature-text-color);

 
}
.contact-link:hover {
color: var(--button-color);
}
.contact-link:focus {
color: var(--button-color);
}


.section-bg {
background: var(--section-bg-color);
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
   
}

  
.big-title {
margin: 0 auto 30px auto;
width:  696px;
height: 120px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--container-item-bg-color);
text-transform: uppercase;
text-align: center;
 
}

.main-button-bg {
display: inline-block;
font-weight: 700;
line-height: 1.88;
letter-spacing: 0.06em;
font-size: 16px;
min-height: 50px;
width: 200px;
border-radius: 4px;
color: var(--container-item-bg-color);
background: var(--button-color);
transition: 2s;
transform: scale(1.1,1.1);
cursor: pointer;
border: transparent;

}

.main-button-bg:hover {
background: var(--button-color);
transform: scale(1.02);
}

.btn {
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--container-item-bg-color);
box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
0 1px 3px 1px rgb(26 115 232 / 30%);
}

.pro-section {
background-color: var(--main-color);
padding-top: 94px;
}


.pro-item {
  max-width: 100%;
  height: auto;
}

.feature-list {
display: flex;
margin: 0;
}


.feature-item:not(:last-child){
  margin-right: 30px;
}

.feature-item {
  margin: 0;
  }


.feature-title {
padding-top: 0 94px;
width: 270px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--feature-title-color);
 
}

.feature-text {
margin-top: 10px;
width: 270px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--feature-text-color);
}

.work-section{
  padding-top: 0;
}


.img{
  display: block;
  max-width: 100%;
  height: auto;

}


.boxes {
display: flex;
align-items: center;

}
.box {
 margin: 0;
  }


.box:not(:last-child){
 margin-right: 30px;
  }


.pro-list{
display: flex;
 
}

.title {
text-align: center;
margin: 0 0 50px 0;
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--feature-title-color);
}


.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
overflow: hidden;
}

.pro-section {
  background: var(--main-color);
  margin-top: 94px;
  
}
.pro-item{
background: var(--container-item-bg-color);

}
.pro-item:not(:last-child) {
margin-right: 30px;
}

.pro-img {
text-align: center;
padding-bottom: 30px;

}

.pro-title {
 padding-bottom: 10px;
 text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--feature-title-color);
 
}

.pro-text {
text-align: center;
padding-bottom: 30px;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--feature-text-color);
  
}


.main-list {
display: flex;
justify-content: center;
margin: 0;

}




.main-item:not(:last-child){
margin-right: 8px;
}





.visually-hidden{
  margin: 0;

}


.main-button {
  
display: inline-block;
font-weight:500;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background: var(--main-color);
border-radius: 4px;
color: var(--feature-title-color);
cursor: pointer;
border: transparent;
padding: 6px 22px;

}


.main-button:hover {
background: var(--button-color);
color: var(--container-item-bg-color);
}


.main-button:focus {
background: var(--button-color);
color: var(--container-item-bg-color);
}

.item-section{
  background: var(--main-color);
}

.card {
display: flex;
flex-wrap: wrap;
margin-top: 50px;
margin-bottom: 94px;

}

.project {
 padding: 20px 24px;
 border-left: 1px solid var(--solid-color);
 border-right: 1px solid var(--solid-color);
 border-bottom:  1px solid var(--solid-color);
}



.item-bg {
background: var(--container-item-bg-color);
margin-right: 30px;
margin-bottom: 30px;
width: 370px;

}


.item-bg:nth-child(3n) {
  margin-right: 0;
  

}

.item-bg:nth-last-child(-n+3) {
  margin-bottom: 0;
  

}


  
.main-img {
background: var(--main-img);


}

.main-title {
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--feature-title-color);

}



.main-text {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--feature-text-color);
}

.footer {

  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--section-bg-color);

}

.logo-footer{
  margin-top: 20px;
}

.footer-list{
  flex-wrap: wrap;
}


.footer-item {
font-style: normal;
color: var(--container-item-bg-color);
}

.footer-item:not(:last-child){
  margin-bottom: 9px;
}

.footer-adds-link{
  color: var(--container-item-bg-color);  
}
  


.solid{
 color: var(--solid-color);
}


.footer-link {
 
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 0 60px;
}
a.footer-link:hover {
  color: var(--button-color);
}
a.footer-link:focus {
  color: var(--button-color);
}
